@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

html, body{
  padding:0;
  margin: 0;
  overflow-x:hidden;
}

@media only screen and (max-width: 600px) {
.img-resize {
    width:32%;
    height:32%;
    margin-right:10%;
}
div.mx-auto.order-0, li.nav-item.justify-content-center{
  text-align: center;
}
.centeredT{
font-size: 3.3vh !important;
}
} 

@media only screen and (min-width: 600px) {
  .img-resize{
    width:90%;
    height:90%;
}
} 

@media only screen and (min-width: 992px) {
  .img-resize {
    width:100%;
    height:100%;
}
} 

.col-md-6.c.d#coldecoration {
  padding: 2em 2em 2.1em 2em;
}

.rmPad{
  padding: 0;
  margin: auto;
}

/*index.html*/

#background1 a, #background2 a{
  text-decoration: none;
}

.title1{
  /* margin-bottom: 1em; */
  color: white;
  font-size: 5.25rem;
  text-shadow: 2px 2px 4px pink;
  font-family: 'Ms Madi', cursive;
}

.title2{
  font-family: sans-serif;
  font-size: 1.5rem;
}

.title3{
  font-family: sans-serif;
  font-size: 1.2rem;
  margin-bottom: 2em;
}

.arrow-down {
  position: relative;
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 25px solid black;
  animation: go-down 1.5s ease infinite;
}

@keyframes go-down{
  0%{
    top:0px;
  }
  50%{
    top:7px;
  }
  100%{
    top:0px;
  }
}

.hero{
  display: flex;
  flex-direction: column;
}

#background1 {
  left: 0;
  width: 100%;
  height: 87vh;
  z-index: -1;
  background: radial-gradient(50% 123.47% at 50% 50%, #a52a2a 0%, #000438 100%), linear-gradient(121.28deg, #669600 0%, #FF0000 100%), linear-gradient(360deg, #0029FF 0%, #8FFF00 100%), radial-gradient(100% 164.72% at 100% 100%, #380093 0%, #00FF57 100%), radial-gradient(100% 148.07% at 0% 0%, #ffead0 0%, #51D500 100%);
  background: -webkit-radial-gradient(50% 123.47% at 50% 50%, #a52a2a 0%, #000438 100%), -webkit-linear-gradient(121.28deg, #669600 0%, #FF0000 100%), -webkit-linear-gradient(360deg, #0029FF 0%, #8FFF00 100%), -webkit-radial-gradient(100% 164.72% at 100% 100%, #380093 0%, #00FF57 100%), -webkit-radial-gradient(100% 148.07% at 0% 0%, #ffead0 0%, #51D500 100%);
  background: -moz-radial-gradient(50% 123.47% at 50% 50%, #a52a2a 0%, #000438 100%), -moz-linear-gradient(121.28deg, #669600 0%, #FF0000 100%), -moz-linear-gradient(360deg, #0029FF 0%, #8FFF00 100%), -moz-radial-gradient(100% 164.72% at 100% 100%, #380093 0%, #00FF57 100%), -moz-radial-gradient(100% 148.07% at 0% 0%, #ffead0 0%, #51D500 100%);
  background-blend-mode: screen, color-dodge, overlay, difference, normal;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .board{
    max-width: 100% !important;
   }
   .col-md-7.c.d#coldecoration{
    border-bottom: 1.5px solid #ccc;
  }
  #background1{
    padding-bottom: 8em;
  }

  .mainBoard{
    border:none !important
  }

  .skills div:first-child{
    margin-right: 1.5em !important;
  }
}

#prj{
  padding-top: 1.4em !important; 
}
.addSpace{
  margin: 2.5em 0 3em 0;
}
.board{
 padding:0 !important;
 max-width: 75%;
 background-color: white;
}

div.col.board img:hover{
  opacity: 0.4;
  filter: blur(2px);
}

.containerT{
  position: relative;
  text-align: center;
  background-color: #BF3535;
  border-top: 3px solid #212529;
  border-bottom: 3px solid #212529;
  max-width: 100%;
  margin-left: 0;
}

.mainBoard{
  margin: 2em auto;
  display: flex;
  justify-content: center;
  border: 15px #212529 solid
}

.centeredT{
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility:hidden;
}

.containerT:hover .centeredT{
  visibility:visible;
  font-family: 'Ms Madi', cursive;
  text-decoration: none;
  color:#FFEFDC;
  text-shadow: 2px 3px black, 0 0 20px black;
  font-size: 2.5rem
}

.bg{
  background-color: #f2f3f8;
}

.full-w{
  width: 100%;
  margin-top: -4em;
  background-color: white;
  border-top: 1.5px solid #ccc;
}

.distribute .tittle{
  margin-bottom: 0.7em;

}

.msMadi{
  font-family: 'Ms Madi', cursive;
  text-align: center;
}

#borders .tittle{
  font-size: 2rem;
}

.tittle{
  color: black;
  font-size: 3rem;
  font-weight: 100;
  text-align: center;
  text-decoration: underline;
  text-decoration-color:#A52A2A;
  font-family: 'Ms Madi', cursive;
}

.tittle2{
 text-align: center;
 font-size: 1.37rem;
 text-decoration: underline;
 text-underline-offset: 0.6em;
 line-height: 2.5em ;
 text-decoration: underline;
 text-decoration-color:#A52A2A;
}

.info{
  text-align:justify;
  color: #575757;
  padding-top: 5%;
}

.footer{
 font-size:1rem;
 color: black;
 text-align: center;
 position: relative;
 display: flex;
 flex-direction: column;
 gap: 36px;
 left: 35%;
 width:30%;
}

.flexD{
  text-align: center;
}

.bar{
  position: relative;
  padding: 10px 0px;
  margin: 20px 0px;
  border: 3px black;
  background-color: #F7F7F6;
  height: 5px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 0;
 }

 #barGrow{
  left:0%;
  top: 0%;
  position: absolute;
  border: 2px solid black;
  background-color: black;
  border-radius: 10px;
  width: 5%;
  height: 100%;
 }

#borders{
  padding: 1.6em 1em 0 1em;
  background: radial-gradient(50% 123.47% at 50% 50%, #a52a2a 0%, #000438 100%), linear-gradient(121.28deg, #669600 0%, #FF0000 100%), linear-gradient(360deg, #0029FF 0%, #8FFF00 100%), radial-gradient(100% 164.72% at 100% 100%, #380093 0%, #00FF57 100%), radial-gradient(100% 148.07% at 0% 0%, #ffead0 0%, #51D500 100%);
  background: -webkit-radial-gradient(50% 123.47% at 50% 50%, #a52a2a 0%, #000438 100%), -webkit-linear-gradient(121.28deg, #669600 0%, #FF0000 100%), -webkit-linear-gradient(360deg, #0029FF 0%, #8FFF00 100%), -webkit-radial-gradient(100% 164.72% at 100% 100%, #380093 0%, #00FF57 100%), -webkit-radial-gradient(100% 148.07% at 0% 0%, #ffead0 0%, #51D500 100%);
  background: -moz-radial-gradient(50% 123.47% at 50% 50%, #a52a2a 0%, #000438 100%), -moz-linear-gradient(121.28deg, #669600 0%, #FF0000 100%), -moz-linear-gradient(360deg, #0029FF 0%, #8FFF00 100%), -moz-radial-gradient(100% 164.72% at 100% 100%, #380093 0%, #00FF57 100%), -moz-radial-gradient(100% 148.07% at 0% 0%, #ffead0 0%, #51D500 100%);
  background-blend-mode: screen, color-dodge, overlay, difference, normal;
}

#borders .title1{
  font-size: 2.4rem;
  text-align: center;
}

#button1{
  background-color: #A52A2A;
}

#button1:hover{
  background-color: #b53333;
}
 
li{
  text-align: center;
}

.borderTop{
  border-top: 2px solid #E5E5E5;
}

#coldecoration{
  background-color: white;
  padding: 1.45em 1.4em;
  border-bottom: 1.5px solid #ccc;
}

.overlay{
  position: relative;
  top: -106px;
  border-radius: 10px;
}

.space{
  padding:0;
}

.col-md-6.c#coldecoration {
  padding: 20px 0px 20px 23px;
}

.byeText{
  margin: 0.4em 0 0 0;
  font-size: 2.8rem;
  font-weight: 300;
}

.byeText2{
  font-size:4vh;
  font-weight: 300;
}


div.tittle + p{
  text-align: center;
}

p  a{
  text-decoration: none;
  color:#212529;
  padding-right: 1vw;
  padding-left: 1vw;
}

p  a:hover{
  color:#A52A2A
}

.distribute{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2.3em;
}

.mepic-Container{
  max-width: 60%;
  margin: auto;
}

.mepic{
  max-width: 100%;
  border-radius: 10px;
  border: 1px solid #A52A2A;
  background-color: white;
}

@media only screen and (min-width: 600px) {
  .mepic-Container{
    max-width: 45%;
  }
}
@media only screen and (min-width: 1100px) {
  .mepic-Container{
    max-width: 40%;
  }
  #BIG{
    font-size: 3.6rem;
  }
}
@media only screen and (min-width: 1500px) {
  .mepic-Container{
    max-width: 33%;
  }
}

.footNav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  gap: 13px;
}

.footNav li{
  list-style-type: none;
}

.footNav li p a{
  color: white;
}
.gitPic a img{
  position: relative;
  max-width: 42px;
  top: -12px;
  left:2px
}

.editSkills{
  max-width: 90%;
  margin: auto;
}

.skills{
  margin-top: 1.6em;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  margin: 1.6em auto 0.4em auto;
}

.skills div{
  display: flex;
  justify-self: center;
  flex-direction: column;
  gap: 5px;
}

.skills div:first-child{
  margin-right: 4em;
}

.skills small{
  width: 30px;
  height: 30px;
  background-color: #A52A2A;
  color: white;
  padding: 10px;
  line-height: 10px;
  border-radius: 4px;
  display: inline-block;
}
.skills li img{
  max-width: 30px;
  max-height: 30px;
}

.skills li{
  list-style-type: none;
  color: black;
  width: 40%;
  display: flex;
  flex-direction: row;
  gap: 9px;
  font-size: 1.1rem;
}


/* Animation for loading bar */

.bar::before{
  position: absolute;
  content: "Creating Content!";
  animation: changeText 17s linear infinite;
  top: -30px; 
  left: -18.7%;
  width: 140%;
  text-align: center;
  color: white;
 }

 .bar::after{
  position: absolute;
  content: "0%";
  animation: changeText2 17s linear infinite;
  top: 20px;
  left: 0%;
  width: 100%;
  text-align: center;
  color: white;
 }

 #barGrow{
  animation: grow 17s ease-in-out infinite;
 }


 @keyframes grow{
  0%{
    width: 5%;
  }
  10%{
    width: 20%;
  }
  25%{
    width: 35%;
  }
  35%{
    width: 25%;
  }
  45%{
    width: 45%;
  }
  55%{
    width: 55%;
  }
  65%{
    width: 40%;
  }
  75%{
    width: 65%;
  }
  80%{
    width: 75%;
  }
  95%{
    width: 100%;
  }
  100%{
    width: 100%;
  }
 }

 @keyframes changeText{

  25%{
    content: "Finding Tools...";
  }
  40%{
    content: "Brainstorming...";
  }
  50%{
    content: "Creating...";
  }
  60%{
    content: "Last Details...";
  }
  70%{
    content: "Almost Done!";
  }
  85%{
    content: "Thanks for visiting!";
  }
  100%{
    content: "Thanks for visiting!";
  }
 }

 @keyframes changeText2{
  0%{
    content: "0%";
  }
  10%{
    content: "20%";
  }
  25%{
    content: "35%";
  }
  35%{
    content: "25%";
  }
  45%{
    content: "45%";
  }
  55%{
    content: "55%";
  }
  65%{
    content: "40%";
  }
  75%{
    content: "65%";
  }
  80%{
    content: "75%";
  }
  95%{
    content: "100%";
  }
  100%{
    content: "100%";
  }
 }


/* Projects Section */

.container-projects{
  margin: 1.5em 0 ;
}

.project{
  display: flex;
  flex-direction: column;
  justify-content:center;
  margin: 3em 2em;
  padding-bottom: 1.1em;
  border-bottom: 1.5px solid #ccc;
}

.project-img img{
  max-width: 100%;
}

.project-img{
  position: relative;
  width: 100%;
  display: inline;
  align-self: center;
  margin-bottom: 2em;
}

.project-img img:hover{
  filter: blur(2px);
}

.project-img::after{
  content: "+";
  line-height: 32px;
  text-align: center;
  color: white;
  font-size: 1.8em;
  position: absolute;
  display: inline-block;
  background-color:#b53333;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  left: 45%;
  top:40%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: none
}

.project-img:hover::after{
  display: contents;
}

.project-text{
  text-align: justify;
}
.project-text a{
  text-decoration: none;
}
.project-text h4{
  margin-bottom: 0.7em;
  color: black;
}
.project-text h4:hover{
  color: #b53333;
}

.project-text h6{
  font-weight: 600;
}


.techUsed{
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin: 1em 0;
}
.techUsed img{
  max-width: 40px;
  max-height: 40px;
}


.closingProjects{
  text-align: center;
}

@media (min-width: 768px) {
  .project{
    margin: 3em 7em;
    gap: 9px;
  }
}

@media (min-width: 1000px) {
  .project{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    margin: 4.2em 9em;
  }
  .project-img img{
    max-width: 90%;
    margin: 0 1em 0 1em;
  }
}


@media (min-width: 1536px) {
  .project{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    margin: 4.8em 24em;
  }
}